<style type="text/css">
#content {
  background-image: url('<%= image_path @background_image %>');
}
</style>

<script type="text/javascript">
  function why_not() {
    $.get('<%= url_for(:action => :ajax_why) %>', function(data) {
      $('#compliment').text(data+" ");
      $('#compliment').typewriter();
    });
  }
  function next_compliment() {
    $.get('<%= url_for(:action => :ajax_compliment) %>', function(data) {
      $('#compliment').text(data+" ");
      $('#compliment').typewriter();
    });
  }
</script>

<% content_for :head do %>
  <%= stylesheet_link_tag "okaybyme" %>
<% end %>

<div id="nav">
  <%= link_to_function "why?", "why_not()" %>
  <%= link_to_function "more", "next_compliment()" %>
</div>
<div id="compliment">
  <%= @compliment.downcase %>
</div>
