<html>
<head>
  <%= yield :head %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.text-effects.js" %>
  <%= javascript_include_tag "jquery-ui-custom.min.js" %>
</head>

<body>
  <%= yield :header %>
  <div id="content">
    <%= yield %>
  </div>
  <%= yield :footer %>
</body>
</html> 
